# ========== LLM API Key ==========
ARK_API_KEY=your-volcano-engine-api-key

# ========== 钉钉机器人配置 ==========
D_SECRET=SECxxxxxx
D_ACCESS_TOKEN=xxxxxx

# ========== 飞书机器人配置 ==========
FS_SECRET=xxx
FS_ACCESS_TOKEN=xxx